<header class="header">
	<div class="header__container">
		<a href="index.html" class="header__logo">
			<picture>
				<source type='image/webp' srcset='@img/logo.webp'>
				<img src='@img/logo.png' alt='Logo'>
			</picture>
		</a>
		<!-- <a href="index.html" class="header__logo">Argus</a> -->
		<div class="header__burger burger">
			<div class="burger__wrapper">
				<span></span>
			</div>
		</div>
		<div class="header__right">
			<div class="header__right-wrapper">
				<div class="header__menu">
					<ul class="header__menu-list">
						<li><a href="index.html">Головна</a></li>
						<li><a href="#about">Характеристики</a></li>
						<li><a href="#description">Опис</a></li>
						<li><a href="500W-ru.html">RU</a></li>
						<!-- <li><a href="#benefits">Преимущества</a></li> -->
					</ul>
				</div>
				<div class="header__buttons">
					<ul class="header__social">
						<li>
							<a href="tel:+380999230976">
								@@include('../icons/_phone.html')
							</a>
						</li>
						<li>
							<a href="viber://chat?number=+380999230976">
								@@include('../icons/_viber.html')
							</a>
						</li>
						<li>
							<a target="_blank" href="https://wa.me/380999230976">
								@@include('../icons/_whatsapp.html')
							</a>
						</li>
						<li>
							<a target="_blank" href="https://t.me/BTL_Solar_EU">
								@@include('../icons/_telegram.html')
							</a>
						</li>
					</ul>
					<a href="#form" class="header__button">Замовити на сайті</a>
				</div>
			</div>
		</div>
	</div>
</header>