<header class="header">
	<div class="header__container">
		<a href="index.html" class="header__logo">Argus</a>
		<div class="header__right">
			<ul class="header__social">
				<li>
					<a href="tel:+380999230976">
						@@include('../icons/_phone.html')
					</a>
				</li>
				<li>
					<a href="viber://chat?number=+380999230976">
						@@include('../icons/_viber.html')
					</a>
				</li>
				<li>
					<a href="https://wa.me/380999230976">
						@@include('../icons/_whatsapp.html')
					</a>
				</li>
			</ul>
			<a href="#form" class="header__button">Заказать на сайте</a>
		</div>
	</div>
</header>