<header class="header">
	<div class="header__container">
		<a href="index-ru.html" class="header__logo">
			<picture>
				<source type='image/webp' srcset='@img/logo.webp'>
				<img src='@img/logo.png' alt='Logo'>
			</picture>
		</a>
		<div class="header__burger burger">
			<div class="burger__wrapper">
				<span></span>
			</div>
		</div>
		<div class="header__right">
			<div class="header__right-wrapper">
				<div class="header__menu">
					<ul class="header__menu-list">
						<li><a href="index-ru.html">Главная</a></li>
						<li>
							<div data-spoiler class="spoiler">
								<div class="spoiler__preview">
									<h4 class="spoiler__title">Аккумуляторы</h4>
									<div class="spoiler__icon">
										<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
										</svg>
									</div>
								</div>
								<div class="spoiler__wrapper">
									<div class="spoiler__body">
										<ul>
											<li><a href="500W-ru.html">500W</a></li>
											<li><a href="1000W-ru.html">1000W</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li>
							<div data-spoiler class="spoiler">
								<div class="spoiler__preview">
									<h4 class="spoiler__title">Генераторы</h4>
									<div class="spoiler__icon">
										<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
										</svg>
									</div>
								</div>
								<div class="spoiler__wrapper">
									<div class="spoiler__body">
										<ul>
											<li><a href="katana-ru.html">Katana КД 33 Д&М</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- <li><a href="#500W">500W</a></li>
						<li><a href="#1000W">1000W</a></li> -->
						<!-- <li><a href="#about">Характеристики</a></li>
						<li><a href="#benefits">Преимущества</a></li> -->
						<li>
							<div data-spoiler class="spoiler">
								<div class="spoiler__preview">
									<h4 class="spoiler__title">Навигация</h4>
									<div class="spoiler__icon">
										<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
										</svg>
									</div>
								</div>
								<div class="spoiler__wrapper">
									<div class="spoiler__body">
										<ul>
											<li><a href="#about">Характеристики</a></li>
											<li><a href="#description">Детальная информация</a></li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<!-- <li><a href="katana-ua.html">UA</a></li> -->
					</ul>
				</div>
				<div class="header__buttons">
					<ul class="header__social">
						<li>
							<div data-spoiler class="spoiler">
								<div class="spoiler__preview">
									<h4 class="spoiler__title">Контакты</h4>
									<div class="spoiler__icon">
										<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
										</svg>
									</div>
								</div>
								<div class="spoiler__wrapper">
									<div class="spoiler__body">
										<ul>
											<li>
												<a href="tel:+380999230976">
													+38 099 923 09 76
												</a>
											</li>
											<li>
												<a href="mailto:argus.in.ua@gmail.com">
													<p>argus.in.ua@gmail.com</p>
												</a>
											</li>
											<li>
												<ul class="spoiler__socials">
													<li>
														<a href="viber://chat?number=%2B380999230976">
															@@include('../icons/_viber.html')
														</a>
													</li>
													<li>
														<a target="_blank" href="https://wa.me/380999230976">
															@@include('../icons/_whatsapp.html')
														</a>
													</li>
													<li>
														<a target="_blank" href="https://t.me/BTL_Solar_EU">
															@@include('../icons/_telegram.html')
														</a>
													</li>
												</ul>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</li>
						<li><a href="katana-ua.html">UA</a></li>
					</ul>
					<a href="#form" class="header__button">Заказать на сайте</a>
				</div>
			</div>
		</div>
	</div>
</header>