<section class="benefits">
	<div class="benefits__container">
		<p class="benefits__title" id="benefits">Наші переваги!</p>
		<div class="benefits__items">
			<div class="benefits__item">
				<div class="benefits__icon">
					@@include('../icons/_wallet.html')
				</div>
				<p class="benefits__text">Оплата при отриманні</p>
			</div>
			<div class="benefits__item">
				<div class="benefits__icon">
					@@include('../icons/_like.html')
				</div>
				<p class="benefits__text">Гарантія якості</p>
			</div>
			<div class="benefits__item">
				<div class="benefits__icon">
					@@include('../icons/_refresh.html')
				</div>
				<p class="benefits__text">Швидка доставка</p>
			</div>
			<div class="benefits__item">
				<div class="benefits__icon">
					@@include('../icons/_finger.html')
				</div>
				<p class="benefits__text">Покупка в один клік</p>
			</div>
		</div>
	</div>
</section>