<section class="faq">
	<div class="faq__container">
		<p class="faq__title">Часті запитання:</p>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">Як розрахувати час експлуатації вашого приладу?</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					<p>Час експлуатації = номінальна потужність пристрою * 85% коефіцієнт перетворення / безперервну тривалу потужність вашого приладу.</p>
					<p>Наприклад, Ви хочете використовувати наш енергопристрій для заряджання дрона, безперервна тривала потужність дрону становить 60Вт, а номінальна потужність нашого пристрою 540Вт год, значить час експлуатації вашого приладу становить 540Вт год * 85% / 60Вт = 7.65 годин. /p>
				</div>
			</div>
		</div>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">Вибір сонячної панелі:</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					Матеріали та потужність не мають значення, необхідно впевнитись у робочій напрузі (Vmp) сонячної панелі в межах 24В. Чим вище ви оберете напругу, тим вище буде швидкість заряджання. Також швидкість заряджання пов'язана з тривалістю сонячного впливу.
				</div>
			</div>
		</div>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">Автофункція енергозбереження:</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					Пристрій автоматично перемкнеться в режим енергозбереження при виявленні відсутності навантаження протягом 12 годин при натисканні кнопки перемикача змінного струму, він припинить роботу і зупинить віддачу.
				</div>
			</div>
		</div>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">Як довго він зможе працювати при 80% навантаженні?</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					Це залежить від вхідної напруги вашого приладу.
				</div>
			</div>
		</div>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">Які типи "Міні-холодильників" або "Міні-охолоджувачів" може живити цей пристрій?</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					Постійний вихід змінного струму генератора становить 500Вт та ємність батареї становить 500Вт, і час залежить від потужності холодильника та його компресора. Зазвичай потужність компресора втричі більша, ніж у холодильника.
				</div>
			</div>
		</div>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">Чи можна використовувати батарею для надання імпульсу батареї автомобіля?</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					Ні, його не можна використовувати для надання імпульсу батареї автомобіля.
				</div>
			</div>
		</div>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">На скільки вистачає пристрій на одному заряді?</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					Вистачає на два-три місяці, якщо він не використовується після однієї зарядки.
				</div>
			</div>
		</div>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">Чи можна заряджати батарею сонячною енергією, одночасно заряджаючи телефон?</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					Так, можна.
				</div>
			</div>
		</div>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">Чи зможе цей пристрій увімкнути маршрутизатор для доступу до Інтернету?</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					Може. Час роботи залежатиме від струму, який споживає маршрутизатор.
				</div>
			</div>
		</div>
	</div>
</section>