<section class="faq">
	<div class="faq__container">
		<p class="faq__title">Часто задаваемые вопросы:</p>

		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">Как рассчитать время эксплуатации вашего прибора?</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					<p>Время эксплуатации = Номанальная мозность устройства * 85% коэффициент преобразования / непрерырвную длительную мощность вашего прибора.</p>
					<p>Например, Вы хотите использовать наше энергоустройство для зарядки дрона, непрерырвная длительная мозность дрона составляет 60Вт, а номинальная мощность нашего устройства 540Вт ч, значит время эксплуатации вашего прибора составляет 540Вт ч * 85% / 60Вт = 7.65 часов (ориентировочно).</p>
				</div>
			</div>
		</div>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">Выбор солнечной панели:</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					Материалы и мозность не имеют значение, необходимо удостовериться в рабочем напряжении (Vmp) солнечной панели в пределах 24В. Чем выше вы выберите напряжение, тем выше будет скорость зарядки. А скорость зарядки также связана с длительностью солнечного воздействия.
				</div>
			</div>
		</div>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">Автофункция режима энергосбережния:</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					Устройство автоматически переключится в режим энергосбережения при обнаружении отсутствия нагрузки в течение 12 часов, при нажатии кнопки переключателя переменного тока, он прекратит работу и остановит отдачу.
				</div>
			</div>
		</div>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">Как долго он сможет работать при 80% нагрузке?</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					Это зависит от входного напряжения вашего прибора. Это энергоустройство с емкостью батареи в 540Вт, поэтому, пожалуйста, проверяйте входные напряжение и ток ваших приборов.
				</div>
			</div>
		</div>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">Какие типы "Мини-холодильников" или "Мини-охладителей" может питать данное устройство?</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					Постоянный выход переменного тока генератора составляет 500Вт и емкость батареи составляет 500Вт, и время зависит от мощности холодильника и его компрессора. Обычно мощность комперссора в три раза больше, чем у холодильника.
				</div>
			</div>
		</div>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">Можно ли использовать батарею для дачи импульса батареи автомобиля?</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					Нет, его нельзя использовать для дачи импульса батареи автомобиля.
				</div>
			</div>
		</div>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">На сколько хватает устройство на одном заряде?</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					Хватает на два-три месяца, если оно не используется после одной зарядки.
				</div>
			</div>
		</div>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">Можно ли заряжать батарею солнечной энергией, одновременно заряжая телефон?</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					Да, можно.
				</div>
			</div>
		</div>
		<div data-accordion class="spoiler">
			<div class="spoiler__preview">
				<h4 class="spoiler__title">Сможет ли это устройство включить маршрутизатор для доступа в Интернет?</h4>
				<div class="spoiler__icon">
					<svg width="15" height="9" viewBox="0 0 15 9" fill="none">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M14.8788 1.46376L13.4339 3.6646e-07L7.43942 6.07249L1.44495 -6.31608e-08L-3.2942e-07 1.46376L7.43942 9L14.8788 1.46376Z" fill="white" />
					</svg>
				</div>
			</div>
			<div class="spoiler__wrapper">
				<div class="spoiler__body">
					Может. Время работы будет зависеть от тока, потребляемого маршрутизатором.
				</div>
			</div>
		</div>
	</div>
</section>