<section class="sertificates">
	<div class="sertificates__container">
		<p class="sertificates__title">Наші сертифікати</p>
		<div class="sertificates__images">
			<div data-pop-up-open class='sertificates__image'>
				<picture>
					<source type='image/webp' data-srcset='@img/gallery-certificates/1.webp'>
					<img data-img-src='@img/gallery-certificates/1.png' alt='Sertificate photo'>
				</picture>
			</div>
			<div data-pop-up class="pop-up-certificates">
				<div class="pop-up-certificates__wrapper">
					<div class="pop-up-certificates__body">
						<div data-pop-up-close class="pop-up-certificates__close-icon-wrapper">
							<div class="pop-up-certificates__close-icon"></div>
						</div>
						<div class='sertificates__image'>
							<picture>
								<source type='image/webp' data-srcset='@img/gallery-certificates/1.webp'>
								<img data-img-src='@img/gallery-certificates/1.png' alt='Sertificate photo'>
							</picture>
						</div>
					</div>
				</div>
			</div>
			<div data-pop-up-open class='sertificates__image'>
				<picture>
					<source type='image/webp' data-srcset='@img/gallery-certificates/2.webp'>
					<img data-img-src='@img/gallery-certificates/2.png' alt='Sertificate photo'>
				</picture>
			</div>
			<div data-pop-up class="pop-up-certificates">
				<div class="pop-up-certificates__wrapper">
					<div class="pop-up-certificates__body">
						<div data-pop-up-close class="pop-up-certificates__close-icon-wrapper">
							<div class="pop-up-certificates__close-icon"></div>
						</div>
						<div class='sertificates__image'>
							<picture>
								<source type='image/webp' data-srcset='@img/gallery-certificates/2.webp'>
								<img data-img-src='@img/gallery-certificates/2.png' alt='Sertificate photo'>
							</picture>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>