<section class="gallery-images">
	<div class="gallery-images__container">
		<div class="gallery-images__swiper swiper">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<div class='gallery-images__image'>
						<picture>
							<source type='image/webp' srcset='@img/gallery-images/1.webp'>
							<img src='@img/gallery-images/1.jpg' alt='Image'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide">
					<div class='gallery-images__image'>
						<picture>
							<source type='image/webp' srcset='@img/gallery-images/2.webp'>
							<img src='@img/gallery-images/2.jpg' alt='Image'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide">
					<div class='gallery-images__image'>
						<picture>
							<source type='image/webp' srcset='@img/gallery-images/3.webp'>
							<img src='@img/gallery-images/3.jpg' alt='Image'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide">
					<div class='gallery-images__image'>
						<picture>
							<source type='image/webp' srcset='@img/gallery-images/4.webp'>
							<img src='@img/gallery-images/4.jpg' alt='Image'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide">
					<div class='gallery-images__image'>
						<picture>
							<source type='image/webp' srcset='@img/gallery-images/5.webp'>
							<img src='@img/gallery-images/5.jpg' alt='Image'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide">
					<div class='gallery-images__image'>
						<picture>
							<source type='image/webp' srcset='@img/gallery-images/6.webp'>
							<img src='@img/gallery-images/6.jpg' alt='Image'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide">
					<div class='gallery-images__image'>
						<picture>
							<source type='image/webp' srcset='@img/gallery-images/7.webp'>
							<img src='@img/gallery-images/7.jpg' alt='Image'>
						</picture>
					</div>
				</div>
				<div class="swiper-slide">
					<div class='gallery-images__image'>
						<picture>
							<source type='image/webp' srcset='@img/gallery-images/8.webp'>
							<img src='@img/gallery-images/8.jpg' alt='Image'>
						</picture>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</section>