<section class="order">
	<div class="order__container">
		<div class="order__left" id="form">
			<div class="order__text">
				<p class="order__title">Оформить заказ</p>
				<p class="order__subtext">Для заказа нужно заполнить форму, либо обратиться по контактам указанным на сайте.</p>
			</div>
			<div class="order__contacts">
				<a href="mailto:argus.in.ua@gmail.com" class="order__mail">
					<span>@@include('../icons/_mail.html')</span>
					<p>argus.in.ua@gmail.com</p>
				</a>
				<a href="tel:+380999230976" class="order__phone">
					<span>@@include('../icons/_phone-contacts.html')</span>
					<p>+38 099 923 09 76</p>
				</a>
			</div>
			<div class="order__social">
				<p class="order__social-title">А так же:</p>
				<ul class="order__list">
					<li>
						<a target="_blank" href="viber://chat?number=%2B380999230976">
							@@include('../icons/_viber.html')
						</a>
					</li>
					<li>
						<a target="_blank" href="https://wa.me/380999230976">
							@@include('../icons/_whatsapp.html')
						</a>
					</li>
					<li>
						<a target="_blank" href="https://instagram.com/argus_500w_official?igshid=YmMyMTA2M2Y=">
							@@include('../icons/_instagram.html')
						</a>
					</li>
					<li>
						<a target="_blank" href="https://t.me/BTL_Solar_EU">
							@@include('../icons/_telegram.html')
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- <form class="order__right" action="https://fressme.fun/send-local.php" method="POST"> -->
		<!-- <form class="order__right" action="./send-local.php" method="POST"> -->
		<form class="order__right" action="./mail.php" method="POST">
			<input name="utm1" type="hidden" value="argus">
			<input name="utm2" type="hidden" value="google/fb">
			<div class="order__form-body">
				<div><input required="required" type="text" name="name" placeholder="Ваше Имя"></div>
				<div>
					<input required="required" type="tel" name="phone" placeholder="Номер телефона" onclick="(function(event){if (!event.target.value.length){event.target.value='+38';}})(event)" oninput="(function(event){const x=event.target.value.replace(/\D/g, '').match(/(\d{0,2})(\d{0})(\d{0,3})(\d{0,3})(\d{0,2})(\d{0,2})/);
				          event.target.value='+38' + (x[4] ? ' (' + x[3] + ') ' : '' + x[3]) + x[4] + (x[5] ? '-' + x[5] : '') + (x[6] ? '-' + x[6] : '');})(event)" pattern="^\+38\s[\(]?0(39|67|68|96|97|98|50|66|95|99|63|73|93|91|92|94)[\)]\s\d{3}[\-]\d{2}[\-]\d{2}$" title="Формат: +38 (0XX) XXX-XX-XX. Проверьте правильность кода оператора.">
				</div>
				<div><span>Не обязательно</span><input type="email" name="email" placeholder="E-mail" pattern="^[A-Za-z0-9][A-Za-z0-9\.\-_]*[A-Za-z0-9]*@([A-Za-z0-9]+([A-Za-z0-9-]*[A-Za-z0-9]+)*\.)+[A-Za-z]*$"></div>
				<div><input type="submit" value="Заказать"></div>
			</div>
		</form>
	</div>
</section>