%container {
   padding-left: percent(15, 320);
   padding-right: percent(15, 320);
   @media (min-width: 769px) {
      padding-left: percent(30, 1400);
      padding-right: percent(30, 1400);
   }
   @media (min-width: 1200px) {
      padding-left: percent(100, 1920);
      padding-right: percent(100, 1920);
   }
   @media (min-width: 1400px) {
      padding-left: percent(150, 1920);
      padding-right: percent(150, 1920);
   }
   @media (min-width: 1600px) {
      padding-left: percent(200, 1920);
      padding-right: percent(200, 1920);
   }
   @media (min-width: 1800px) {
      padding-left: percent(250, 1920);
      padding-right: percent(250, 1920);
   }
}
%paddings {
   @media (min-width: 0px) and (max-width: 460px) {
      padding-top: 30px;
      padding-bottom: 30px;
   }
   @media (min-width: 461px) and (max-width: 660px) {
      padding-top: 40px;
      padding-bottom: 40px;
   }
   @media (min-width: 661px) and (max-width: 768px) {
      padding-top: 50px;
      padding-bottom: 50px;
   }
   // @media (max-width: 768px) {
   //    padding-top: percent(50, 320);
   //    padding-bottom: percent(50, 320);
   // }
   @media (min-width: 769px) {
      padding-top: percent(150, 1920);
      padding-bottom: percent(150, 1920);
   }
   @media (min-width: 1400px) {
      padding-top: percent(100, 1920);
      padding-bottom: percent(100, 1920);
   }
}
%radius1 {
   border-radius: 8px;
}
%radius2 {
   border-radius: 40px;
}
%padding1 {
   padding: 10px 16px;
}
%grad-bg {
   background: linear-gradient(90deg, #68c9ff 5%, #d1b5ff 90%);
}
%grad-text {
   background: linear-gradient(90deg, #68c9ff 5%, #d1b5ff 90%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
   color: transparent;
}
%overflow-string {
   max-height: 39px;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical;
   margin-bottom: 2px;
}
%text-overflow {
   text-overflow: ellipsis;
   max-width: 105px;
   overflow: hidden;
   white-space: nowrap;
}
%text-stroke {
   -webkit-text-fill-color: transparent;
   -webkit-text-stroke: 1px $light;
}
