/*Шрифты*/
$ff1: "SourceSansPro", sans-serif;

//Цвета шрифтов
$dark: #232323;
$light: #fff;
$grey: #a5a5a5;
$lightGrey: #f9fbfc;
// $decor: rgb(22, 90, 200);
$decor: rgb(4, 82, 209);
// $decor: rgb(224, 174, 11);
